<div
  style="
    font-family: Helvetica, Arial, sans-serif;
    min-width: 700px;
    overflow: auto;
    line-height: 2;
  "
>
  <div style="margin: 20px; padding: 20px 10px">
    <div
      style="
        border-bottom: 1px solid #eee;
        text-align: center;
        background: #00466a;
        padding: 10px;
      "
    >
      <a
        href=""
        style="font-size: 0.7em; text-decoration: none; font-weight: 600"
        ><img src="https://iili.io/Sh6wLg.png" style="width: 200px"
      /></a>
    </div>

    <div style="padding: 4px">
     

      <p style="font-size: 0.9em">Hello <%- userName %>,</p>
       <p style="font-size: 0.9em">Forgot your password?</p>
       <h5></h5>
      <p>
        You have requested a new password for the Unreal Capital account associated with <%- email%>.


      </p>
      <p>You can reset your password by clicking the link below, Link only valid for 10 minutes.

</p>
<div style="text-align:center">
      <a href="<%- link%>"
        style="  text-decoration: none;

          background: #00466a;
          margin: 0 auto;
          width: max-content;
          padding: 10px 10px;
          font-size: 0.9em;
          color: #fff;
          border-radius: 4px;
          letter-spacing: 2px;
          cursor:pointer;
        "
      >
        Reset your password
      </a>
      </div>
      <p>
      Or copy and paste the URL into your browser : <br /> 
      <a href="<%- link%>"><%- link%>
      </a></p>
      <p style="color:grey;font-size:12px">Note : No changes have been made to your account yet. If you did not request a new password, Please ignore this email.</p>
      <p style="font-size: 0.9em">Regards,<br />Unreal Captial</p>
      <hr style="border: none; border-top: 1px solid #eee" />
    </div>
    <div
      style="
        float: left;
        padding: 8px 0;
        color: #aaa;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 300;
        width: 50%;
      "
    >
      <p>© <%- year %>. All rights reserved</p>
    </div>
    <div
      style="
        float: left;
        padding: 8px 0;
        color: #aaa;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 300;
        width: 50%;
      "
    >
      <p>Unreal Captial</p>
      <p>103 Sham Peng Tong Plaza,</p>
      <p>Victoria,</p>
      <p>Mahe, Seychelles</p>
    </div>
  </div>
</div>
